* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0;
}

.text {
    color: #FFFFFF;
    line-height: 1.8;
}

/* Projects */
.projects {
    background-color: #131313;
    height: 100vh;
}

.projects__wrapper{
    position: relative;
}
.projects__item {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.projects__item-left {
    padding-top: 100px;
    width: 30%;
}

.projects__item-right {
    width: 60%;
    padding-top: 100px;
}

.projects__title {
    font-size: 27px;
    color: #E3B873;
    position: relative;
}

.projects__title::after {
    content: "";
    background: #E3B873;
    width: 92px;
    height: 1px;
    position: absolute;
    top: 80%;
    left: 45%;
}

.projects__text {
    font-size: 14px;
}

.pr__info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pr__info-item {
    width: 50%;
}

.pr__info-title {
    font-size: 18px;
    color: #E3B873;
}

.pr__info-text {
    font-size: 15px;
    line-height: 20px;
}

.pr__info-tab {
    position: absolute;
    right: 10%;
    top: 8%;
    min-width: 50%;
    border: none;
}

.pr__tab {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 7%;
    transition: 0.3s ease-out;
    margin-bottom: 35px;
    text-decoration: none;
    cursor: pointer;
}
.pr__tab:hover{
     border-bottom: 1px solid #E3B873;
}

/* Slider */

.slider {
  max-width: 1000px;
  min-height: 500px;
  margin: 20px auto;
  padding: 30px 50px;
  
}

.slider-arrow {
  position: relative;
}

.slider-arrow-left,
.slider-arrow-right {
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
    transition: 0.3s ease-out;
}

.slider-arrow-right{
    left: 15%;
    bottom: auto;
}
.slider-arrow-left:hover,
.slider-arrow-right:hover{
    opacity: 1;
}
.slider-dots{
    position: absolute;
    left: 6%;
    bottom: -18px;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 7px;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active{
    background-color: rgb(211, 211, 211);
    
}
.active-title{
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}
.pr__info-text,
.slider-img {
    animation-name: fade;    
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.5
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0.5
    }
    to {
        opacity: 1
    }
}

.row {
    display: flex;
    justify-content: center;
}

.span {
    font-size: 13px;
    line-height: 21px;
}

input[type="checkbox"] {
    display: none;
}

label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
}

label:before {
    content: " ";
    color: #fff;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 2px;
    position: relative;
    width: 16px;
    height: 16px;
    background: #E3B873;
    border: 1px solid #e3e3e3;
    vertical-align: middle;
}

input:checked + label:before {
    background-image: url(../img/icons/checked.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-out;
}

.area,
.time {
    display: flex;
    align-items: center;
}

/* Media */
@media screen and (max-width: 1400px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1240px) {
    .slider{
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    .projects__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.slider-dots{
        left: 0;
    }
    div.slider-arrow-right{
        right: 35%;
    }
    div.slider-arrow-left{
        left: 35%;
    }
    .projects__item-left,
    .projects__item-right {
        width: 80%;
        text-align: center;
        padding-top: 30px;
        margin: 0 auto;
    }

    .projects__title::after {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .row {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 520px) {
    .text {
        width: 100%;
    }

    .projects {
        height: 100%;
        padding-bottom: 300px;
    }

    .projects__title {
        font-size: 22px;
    }

}

@media screen and (max-width: 320px) {
    .container {
        padding: 0 10px;
    }

}